doctype html
include ../../static/assets/ldui/pug/ldui.pug
html
  head
    +css("/css/index.css")
  body
    .p-4
      h1 fontset
      p 相容人是，的路更有起護育以望小增來：公注假克小是願以色作以點發來。面下想草了出整頭是力照數天任的作笑就持加好再型麼要經考願有因得切量可營究臉我麼都大打賣幾真行，頭許樂的統二小子來利易放！減全大國場於如銷口電！國路行車也臺生童信地也造管就意經。有平孩議光在光醫生非的面例首朋問子單小今了，得超時理大建，期英面高聽不飛像坡資但來上由史於經告心，有別外何本。

      p 了小樣行帶陸，問政聽幾之有司答以……題期精總量家問業美間法不的密條多深新何係預。銷山散來；來受料石常角那起最可別的中也達在行並，從點不起。開年是馬對能有入被了品麼語精一低文產跑的都何且可多以變去製。那正方放說公到死成單投了選院風時議？子去法高上的圖會顧統上明最，想眾是隨機趣中待人歌。

      p 一沒事低是；中說獲那比投神明正何了取溫海；兩坐公醫來方見灣得子可這，府產海？那以及長南……吃流見人，營第化！眼環難停笑神。
